body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    width: 100%;
    box-sizing: border-box;
}

header .content-wrapper {
    max-width: 1200px;
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo img {
    max-height: 50px;
}

li {
    font-weight: bold;
    list-style-type:none;
    text-decoration:none;
}

/* off-screen-menu */
.off-screen-menu {
    background-color:  rgb(34, 37, 49);
    height: 100vh;
    width: 100%;
    max-width: 450px;
    position: fixed;
    top: 0;
    right: -450px;
    display: flex;
    flex-direction: column;
    align-items: center;    
    justify-content: center;
    text-align: center;
    font-size: 3rem;
    transition: .3s ease;
}
.off-screen-menu.active {
    right: 0;
}



/* nav */
nav {
    display: flex;
}



/* ham menu */
.ham-menu {
    height: 40px;
    width: 30px;
    margin-left: auto;
    position: relative;
}
.ham-menu span {
    height: 5px;
    width: 100%;
    background-color: #6F86FF;
    border-radius: 25px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: .3s ease;
}
.ham-menu span:nth-child(1) {
    top: 25%;
}
.ham-menu span:nth-child(3) {
    top: 75%;
}
.ham-menu.active span {
    background-color: white;
}
.ham-menu.active span:nth-child(1) {
    top: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
}
.ham-menu.active span:nth-child(2) {
    opacity: 0;
}
.ham-menu.active span:nth-child(3) {
    top: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
}

main {
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

main .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

main .content .photo {
    border: 5px solid skyblue;
    max-width: 100%;
    margin-bottom: 20px;
}

main .content .text-container {
    max-width: 600px;
}

main .content .quote {
    font-style: italic;
    font-size: 14px;
    margin-bottom: 10px;
    background-color: yellow;
    padding: 10px;
}

main .content .lorem {
    font-size: 12px;
}

@media (min-width: 769px) {
    main .content {
        flex-direction: row;
        text-align: left;
    }

    main .content .photo {
        margin-right: 20px;
        margin-bottom: 0;
    }

    main .content .text-container {
        text-align: left;
    }
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px 20px;
    width: 100%;
    box-sizing: border-box;
}

footer .content-wrapper {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}

footer .social-links {
    margin-bottom: 10px;
}

footer .social-links a {
    color: white;
    margin: 0 10px;
    text-decoration: none;
}
